@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300;400;500;700&family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Farro', sans-serif;
  background-color: #0d1117;
  color: #c9d1d9;
}

.contrainer {
  width: 100%;
}

.movies-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.movie {
  margin-top: 13px;
  width: 270px;
  height: 400px;
  border-radius: 10px;
}

.movie:last-child {
  margin-bottom: 15px;
}

.movie img {
  width: 100%;
  max-height: 85%;
}

.movie-infos {
  height: 15%;
  background-color: #21262d;
  display: flex;
  justify-content: space-between;
  padding: 10px 4px;
  letter-spacing: 0.5px;
  margin-top: -3px;
}

.movie-infos h3 {
  align-self: center;
  font-size: 18px;
}

.movie-infos span {
  background-color: #0d1117;
  padding: 3px;
  border-radius: 4px;
  align-self: center;
}

@media only screen and (min-width: 550px) {
  .movies-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
  }

  .movie:last-child {
    margin-bottom: 0;
  }
}
